@charset "UTF-8";
@font-face {
  font-family: "freshio2-icon";
  src: url("../fonts/icons/freshio2-icon-3.0.2.eot");
  src: url("../fonts/icons/freshio2-icon-3.0.2.eot?#iefix") format("eot"), url("../fonts/icons/freshio2-icon-3.0.2.woff2") format("woff2"), url("../fonts/icons/freshio2-icon-3.0.2.woff") format("woff"), url("../fonts/icons/freshio2-icon-3.0.2.ttf") format("truetype"), url("../fonts/icons/freshio2-icon-3.0.2.svg#freshio2-icon-3.0.2") format("svg");
}
[class*=freshio2-icon-] {
  font-family: "freshio2-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.freshio2-icon-acorn:before {
  content: "";
}

.freshio2-icon-angle-double-down:before {
  content: "";
}

.freshio2-icon-angle-double-left:before {
  content: "";
}

.freshio2-icon-angle-double-right:before {
  content: "";
}

.freshio2-icon-angle-double-up:before {
  content: "";
}

.freshio2-icon-apple-alt:before {
  content: "";
}

.freshio2-icon-argan-oil:before {
  content: "";
}

.freshio2-icon-badge-percent:before {
  content: "";
}

.freshio2-icon-calendar:before {
  content: "";
}

.freshio2-icon-cherry:before {
  content: "";
}

.freshio2-icon-comments-alt:before {
  content: "";
}

.freshio2-icon-consultant:before {
  content: "";
}

.freshio2-icon-creation:before {
  content: "";
}

.freshio2-icon-curated:before {
  content: "";
}

.freshio2-icon-curated_2:before {
  content: "";
}

.freshio2-icon-delivery1:before {
  content: "";
}

.freshio2-icon-design:before {
  content: "";
}

.freshio2-icon-drag:before {
  content: "";
}

.freshio2-icon-dragon-fruit:before {
  content: "";
}

.freshio2-icon-dragon-fruit2:before {
  content: "";
}

.freshio2-icon-egg-fried:before {
  content: "";
}

.freshio2-icon-envelope-open-text:before {
  content: "";
}

.freshio2-icon-experiences:before {
  content: "";
}

.freshio2-icon-farm:before {
  content: "";
}

.freshio2-icon-farmer:before {
  content: "";
}

.freshio2-icon-free-shipping1:before {
  content: "";
}

.freshio2-icon-fresh:before {
  content: "";
}

.freshio2-icon-fruit:before {
  content: "";
}

.freshio2-icon-fruit2:before {
  content: "";
}

.freshio2-icon-fruits-pakage:before {
  content: "";
}

.freshio2-icon-gift1:before {
  content: "";
}

.freshio2-icon-groceries:before {
  content: "";
}

.freshio2-icon-handmade:before {
  content: "";
}

.freshio2-icon-handmade_2:before {
  content: "";
}

.freshio2-icon-hapiness:before {
  content: "";
}

.freshio2-icon-headphones-alt:before {
  content: "";
}

.freshio2-icon-healthy-stomach:before {
  content: "";
}

.freshio2-icon-healthy:before {
  content: "";
}

.freshio2-icon-heat1:before {
  content: "";
}

.freshio2-icon-ice-cream:before {
  content: "";
}

.freshio2-icon-language:before {
  content: "";
}

.freshio2-icon-leaf:before {
  content: "";
}

.freshio2-icon-leaf2:before {
  content: "";
}

.freshio2-icon-long-arrow-down:before {
  content: "";
}

.freshio2-icon-long-arrow-left:before {
  content: "";
}

.freshio2-icon-long-arrow-right:before {
  content: "";
}

.freshio2-icon-long-arrow-up:before {
  content: "";
}

.freshio2-icon-meat:before {
  content: "";
}

.freshio2-icon-money-fruit:before {
  content: "";
}

.freshio2-icon-natural:before {
  content: "";
}

.freshio2-icon-note1:before {
  content: "";
}

.freshio2-icon-olive-oil:before {
  content: "";
}

.freshio2-icon-oneclick:before {
  content: "";
}

.freshio2-icon-onion:before {
  content: "";
}

.freshio2-icon-onion2:before {
  content: "";
}

.freshio2-icon-orange:before {
  content: "";
}

.freshio2-icon-performance:before {
  content: "";
}

.freshio2-icon-phone1:before {
  content: "";
}

.freshio2-icon-pineapple:before {
  content: "";
}

.freshio2-icon-pizza-slice:before {
  content: "";
}

.freshio2-icon-play:before {
  content: "";
}

.freshio2-icon-product:before {
  content: "";
}

.freshio2-icon-protein:before {
  content: "";
}

.freshio2-icon-quality:before {
  content: "";
}

.freshio2-icon-return:before {
  content: "";
}

.freshio2-icon-salad:before {
  content: "";
}

.freshio2-icon-savemoney:before {
  content: "";
}

.freshio2-icon-seo:before {
  content: "";
}

.freshio2-icon-shipping:before {
  content: "";
}

.freshio2-icon-sizing:before {
  content: "";
}

.freshio2-icon-soup:before {
  content: "";
}

.freshio2-icon-star-fruit:before {
  content: "";
}

.freshio2-icon-strawberry:before {
  content: "";
}

.freshio2-icon-strawberrys:before {
  content: "";
}

.freshio2-icon-sustainable:before {
  content: "";
}

.freshio2-icon-theme-contact:before {
  content: "";
}

.freshio2-icon-theme-drag:before {
  content: "";
}

.freshio2-icon-theme-heart:before {
  content: "";
}

.freshio2-icon-theme-language:before {
  content: "";
}

.freshio2-icon-theme-oneclick:before {
  content: "";
}

.freshio2-icon-theme-performance:before {
  content: "";
}

.freshio2-icon-theme-quality:before {
  content: "";
}

.freshio2-icon-theme-quote:before {
  content: "";
}

.freshio2-icon-theme-seo:before {
  content: "";
}

.freshio2-icon-theme-shipping:before {
  content: "";
}

.freshio2-icon-tomato:before {
  content: "";
}

.freshio2-icon-vegetables:before {
  content: "";
}

.freshio2-icon-volleyball-ball:before {
  content: "";
}

.freshio2-icon-angle-down:before {
  content: "";
}

.freshio2-icon-angle-left:before {
  content: "";
}

.freshio2-icon-angle-right:before {
  content: "";
}

.freshio2-icon-angle-up:before {
  content: "";
}

.freshio2-icon-arrow-circle-down:before {
  content: "";
}

.freshio2-icon-arrow-circle-left:before {
  content: "";
}

.freshio2-icon-arrow-circle-right:before {
  content: "";
}

.freshio2-icon-arrow-circle-up:before {
  content: "";
}

.freshio2-icon-bars:before {
  content: "";
}

.freshio2-icon-caret-down:before {
  content: "";
}

.freshio2-icon-caret-left:before {
  content: "";
}

.freshio2-icon-caret-right:before {
  content: "";
}

.freshio2-icon-caret-up:before {
  content: "";
}

.freshio2-icon-cart-empty:before {
  content: "";
}

.freshio2-icon-check-square:before {
  content: "";
}

.freshio2-icon-chevron-circle-left:before {
  content: "";
}

.freshio2-icon-chevron-circle-right:before {
  content: "";
}

.freshio2-icon-chevron-down:before {
  content: "";
}

.freshio2-icon-chevron-left:before {
  content: "";
}

.freshio2-icon-chevron-right:before {
  content: "";
}

.freshio2-icon-chevron-up:before {
  content: "";
}

.freshio2-icon-circle:before {
  content: "";
}

.freshio2-icon-cloud-download-alt:before {
  content: "";
}

.freshio2-icon-comment:before {
  content: "";
}

.freshio2-icon-comments:before {
  content: "";
}

.freshio2-icon-contact:before {
  content: "";
}

.freshio2-icon-credit-card:before {
  content: "";
}

.freshio2-icon-dot-circle:before {
  content: "";
}

.freshio2-icon-edit:before {
  content: "";
}

.freshio2-icon-envelope:before {
  content: "";
}

.freshio2-icon-expand-alt:before {
  content: "";
}

.freshio2-icon-external-link-alt:before {
  content: "";
}

.freshio2-icon-eye:before {
  content: "";
}

.freshio2-icon-file-alt:before {
  content: "";
}

.freshio2-icon-file-archive:before {
  content: "";
}

.freshio2-icon-filter:before {
  content: "";
}

.freshio2-icon-folder-open:before {
  content: "";
}

.freshio2-icon-folder:before {
  content: "";
}

.freshio2-icon-free_ship:before {
  content: "";
}

.freshio2-icon-frown:before {
  content: "";
}

.freshio2-icon-gift:before {
  content: "";
}

.freshio2-icon-grip-horizontal:before {
  content: "";
}

.freshio2-icon-heart-fill:before {
  content: "";
}

.freshio2-icon-heart:before {
  content: "";
}

.freshio2-icon-history:before {
  content: "";
}

.freshio2-icon-home:before {
  content: "";
}

.freshio2-icon-info-circle:before {
  content: "";
}

.freshio2-icon-instagram:before {
  content: "";
}

.freshio2-icon-level-up-alt:before {
  content: "";
}

.freshio2-icon-long-arrow-alt-down:before {
  content: "";
}

.freshio2-icon-long-arrow-alt-left:before {
  content: "";
}

.freshio2-icon-long-arrow-alt-right:before {
  content: "";
}

.freshio2-icon-long-arrow-alt-up:before {
  content: "";
}

.freshio2-icon-map-marker-check:before {
  content: "";
}

.freshio2-icon-meh:before {
  content: "";
}

.freshio2-icon-minus-circle:before {
  content: "";
}

.freshio2-icon-mobile-android-alt:before {
  content: "";
}

.freshio2-icon-money-bill:before {
  content: "";
}

.freshio2-icon-pencil-alt:before {
  content: "";
}

.freshio2-icon-plus-circle:before {
  content: "";
}

.freshio2-icon-plus:before {
  content: "";
}

.freshio2-icon-quote:before {
  content: "";
}

.freshio2-icon-random:before {
  content: "";
}

.freshio2-icon-reply-all:before {
  content: "";
}

.freshio2-icon-reply:before {
  content: "";
}

.freshio2-icon-search-plus:before {
  content: "";
}

.freshio2-icon-search:before {
  content: "";
}

.freshio2-icon-shield-check:before {
  content: "";
}

.freshio2-icon-shopping-basket:before {
  content: "";
}

.freshio2-icon-shopping-cart:before {
  content: "";
}

.freshio2-icon-sign-out-alt:before {
  content: "";
}

.freshio2-icon-smile:before {
  content: "";
}

.freshio2-icon-spinner:before {
  content: "";
}

.freshio2-icon-square:before {
  content: "";
}

.freshio2-icon-star:before {
  content: "";
}

.freshio2-icon-store:before {
  content: "";
}

.freshio2-icon-sync:before {
  content: "";
}

.freshio2-icon-tachometer-alt:before {
  content: "";
}

.freshio2-icon-th-large:before {
  content: "";
}

.freshio2-icon-th-list:before {
  content: "";
}

.freshio2-icon-thumbtack:before {
  content: "";
}

.freshio2-icon-times-circle:before {
  content: "";
}

.freshio2-icon-times:before {
  content: "";
}

.freshio2-icon-trophy-alt:before {
  content: "";
}

.freshio2-icon-truck:before {
  content: "";
}

.freshio2-icon-user-headset:before {
  content: "";
}

.freshio2-icon-user-shield:before {
  content: "";
}

.freshio2-icon-user:before {
  content: "";
}

.freshio2-icon-adobe:before {
  content: "";
}

.freshio2-icon-amazon:before {
  content: "";
}

.freshio2-icon-android:before {
  content: "";
}

.freshio2-icon-angular:before {
  content: "";
}

.freshio2-icon-apper:before {
  content: "";
}

.freshio2-icon-apple:before {
  content: "";
}

.freshio2-icon-atlassian:before {
  content: "";
}

.freshio2-icon-behance:before {
  content: "";
}

.freshio2-icon-bitbucket:before {
  content: "";
}

.freshio2-icon-bitcoin:before {
  content: "";
}

.freshio2-icon-bity:before {
  content: "";
}

.freshio2-icon-bluetooth:before {
  content: "";
}

.freshio2-icon-btc:before {
  content: "";
}

.freshio2-icon-centos:before {
  content: "";
}

.freshio2-icon-chrome:before {
  content: "";
}

.freshio2-icon-codepen:before {
  content: "";
}

.freshio2-icon-cpanel:before {
  content: "";
}

.freshio2-icon-discord:before {
  content: "";
}

.freshio2-icon-dochub:before {
  content: "";
}

.freshio2-icon-docker:before {
  content: "";
}

.freshio2-icon-dribbble:before {
  content: "";
}

.freshio2-icon-dropbox:before {
  content: "";
}

.freshio2-icon-drupal:before {
  content: "";
}

.freshio2-icon-ebay:before {
  content: "";
}

.freshio2-icon-facebook:before {
  content: "";
}

.freshio2-icon-figma:before {
  content: "";
}

.freshio2-icon-firefox:before {
  content: "";
}

.freshio2-icon-google-plus:before {
  content: "";
}

.freshio2-icon-google:before {
  content: "";
}

.freshio2-icon-grunt:before {
  content: "";
}

.freshio2-icon-gulp:before {
  content: "";
}

.freshio2-icon-html5:before {
  content: "";
}

.freshio2-icon-jenkins:before {
  content: "";
}

.freshio2-icon-joomla:before {
  content: "";
}

.freshio2-icon-link-brand:before {
  content: "";
}

.freshio2-icon-linkedin:before {
  content: "";
}

.freshio2-icon-mailchimp:before {
  content: "";
}

.freshio2-icon-opencart:before {
  content: "";
}

.freshio2-icon-paypal:before {
  content: "";
}

.freshio2-icon-pinterest-p:before {
  content: "";
}

.freshio2-icon-reddit:before {
  content: "";
}

.freshio2-icon-skype:before {
  content: "";
}

.freshio2-icon-slack:before {
  content: "";
}

.freshio2-icon-snapchat:before {
  content: "";
}

.freshio2-icon-spotify:before {
  content: "";
}

.freshio2-icon-trello:before {
  content: "";
}

.freshio2-icon-twitter:before {
  content: "";
}

.freshio2-icon-vimeo:before {
  content: "";
}

.freshio2-icon-whatsapp:before {
  content: "";
}

.freshio2-icon-wordpress:before {
  content: "";
}

.freshio2-icon-yoast:before {
  content: "";
}

.freshio2-icon-youtube:before {
  content: "";
}

/*# sourceMappingURL=icons.css.map */