.menu-item-type-custom a::after {
    content: none !important;
}
.woocommerce-product-search::before {
    content: none !important;
}

.woocommerce-product-search {
    position: relative;
}

.woocommerce-product-search i.fa-search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
}